@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Toppan Bunkyu Mincho R", "Yu Mincho";
}

h1 {
  width: 100vw;
}

.top-title-img {
  width: 100vw;
  max-height: 8vh;
}

.top-icon {
  width: 95vw;
  height: 5vh;
  margin: 0 auto;
  position: relative;
  top: -0.5rem;
}